<!-- Footer -->
<footer class="py-6 bg-background-dark border-t border-slate-800 text-center">
  <p class="text-slate-600 text-sm font-mono">
    Designed & Built by Giventheo Khemides. © 2026
  </p>
</footer>
